.logo{
    display:flex; 
    align-items: center;
    justify-content: center;
    margin-left: -50px;
    height: 75px;
    width: 250px;
    background-color: #001529;
  span{
      display: flex;
        height: 47px;
        width: 177px;
        background-color: #1a2d3f;
  }
}