
@import "./normalize.scss";
// 全局性公共的样式
body { 
    background-color: #001529 !important; // 权重最高
}
  
@mixin webkit($attr,$value){
    -webkit-#{$attr}: $value;
    -moz-#{$attr}: $value;
    -ms-#{$attr}: $value;
    -o-#{$attr}: $value;
    #{$attr}: $value;

}
.inline-button{
    button+button{margin-left: 10px;}
}
.table-wrap {
    padding-top: 30px;
}
.modal-text{
    text-align: center;
}
.modal-color{
    color: #f00;
}